
.container{
    width: 100%;
    min-height: 120vh;
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('../../assets/simplecolor.png') no-repeat; */
    background: url('../../assets/simplecolor.png') no-repeat;
    background-position: center;
    background-size: cover;
   
    
}

.Row{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 220px 80px  0px;
  width: 100%;
  
}
.col{
display: flex;
flex-direction: column;
 
}
.col.text-container{
  width: 100%;
  
}

.person{
  width: 113%;
  animation: moveUpDown 2s ease-in-out infinite;
  position: relative;
  bottom: 50px;
  right: 0px;
 
}

p{
  margin-bottom: 30px;
 
}
.card-container{
display: flex;
flex-wrap: wrap;
justify-content: space-around; 
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}




.nav {
  animation: slideDown 0.5s ease-out;
}

.col:nth-child(1) {
  animation: slideInLeft 1s ease-out ; /* add 0.2s delay */
  animation-fill-mode: forwards;
}

.col:nth-child(2) {
  animation: slideInBottom 1s ease-out; /* add 0.5s delay */
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.footer {
  animation: appear 1s ease-out 0.5s;
}  
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}